Rainbell
/img/
.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.quartz-cache
private/
.replit
replit.nix

PaperBell/.obsidian/workspace.json
PaperBell/.obsidian/plugins/recent-files-obsidian/data.json
PaperBell/Outputs/**/*.pdf
PaperBell/Outputs/**/*.log
.env
